* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.hero {
    background-image: url(location_background.jpg);
    background-size: 100% 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;

}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    max-width: 800px;
}

.btn {
    display: inline-block;
    background-color: #11ac30;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
}

.btn:hover {
    background-color: #2ee631;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    color: #006747;
}

.destinations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 50px;
}

.destination-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.destination-card:hover {
    transform: translateY(-10px);
}

.destination-img {
    height: 250px;
    overflow: hidden;
}

.destination-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.destination-card:hover .destination-img img {
    transform: scale(1.1);
}

.destination-info {
    padding: 30px;
}

.destination-info h3 {
    margin-bottom: 10px;
    color: #006747;
}
